<form method="post" action="/auth/resetPass/confirmPass?id=<%= id %>">
    <div class="container">
        <div class="mb-3">
            <label for="password" class="form-label"><b>Mật Khẩu</b></label>
            <input type="password" class="form-control" placeholder=" Nhập mật Khẩu" name="password" required>
        </div>
        <div>
            <button type="submit">Xác nhận</button>
        </div>
    </div>
</form>