<form method="post">
    <div class="container">
        <div class="mb-3">
            <label for="email" class="form-label"><b>Email</b></label>
            <input type="text" class="form-control" placeholder="Nhập email cần reset password" name="email" required>
        </div>
        <div>
            <button type="submit">Xác nhận</button>
        </div>
    </div>
</form>