<form action="action_page.php" method="post">
    <div class="container">
        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Nhập email" name="uname" required>

        <label for="psw"><b>Mật Khẩu</b></label>
        <input type="password" placeholder=" Nhập mật Khẩu" name="psw" required>

        <button type="submit">Đăng Nhập</button>
        <label>
                <input type="checkbox" checked="checked" name="remember"> Lưu tài khoản
              </label>
    </div>
</form>