<form action="action_page.php" method="post">
    <div class="container">
        <label for="username"><b>Email</b></label>
        <input type="text" placeholder="Nhập email" name="username" required>

        <label for="password"><b>Mật Khẩu</b></label>
        <input type="password" placeholder=" Nhập mật Khẩu" name="password" required>

        <button type="submit">Đăng Nhập</button>
    </div>
</form>