<form style="border:1px solid #ccc" method="POST">
    <div class="container">
        <h1>Đăng Ký</h1>
        <p>Vui lòng điền thông tin để tạo tài khoản.</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Nhập Email" name="email" required>

        <label for="password"><b>Mật Khẩu</b></label>
        <input type="password" placeholder="Nhập Password" name="password" required>

        <label for="password-repeat"><b>Nhập lại mật Khẩu</b></label>
        <input type="password" placeholder="Nhập Lại Password" name="password-repeat" required>

        <p>Bằng cách tạo một tài khoản, bạn đồng ý với các <a href="#" style="color:dodgerblue">Điều khoản & Quyền riêng tư</a> Của chúng tôi.</p>

        <div class="clearfix">
            <button type="submit" class="signupbtn">Đăng Ký</button>
        </div>
    </div>
</form>