<form style="border:1px solid #ccc" method="POST">
    <div class="container">
        <h1>Thống kê doanh thu</h1>
        <hr>

        <label for="action"><b>Thống kê doanh thu theo</b></label>
        <select id="action" name="action" class="form-select">
            <option value="Movie" selected><b>Phim</b></option>
            <option value="Cinema"><b>Rạp</b></option>
        </select>
        <br>

        <!-- <label for="from"><b>Từ ngày</b></label>
        <input type="text" class="form-control" placeholder="Thống kê từ ngày" name="from" required>

        <label for="to"><b>Đến ngày</b></label>
        <input type="text" class="form-control" placeholder="Thống kê đến ngày" name="to" required> -->
        <!-- <div class="input-group input-daterange"> -->
        <label for="from"><b>Từ ngày</b></label>
        <input type="date" id="from" name="from" class="form-control">
        <label for="to"><b>Đến ngày</b></label>
        <input type="date" id="to" name="to" class="form-control">
        <!-- </div> -->

        <div class="clearfix">
            <button type="submit">Xem thống kê</button>
        </div>
    </div>
</form>