<div class="container">
    <div class="section-head">
        <h2 class="section-title text-uppercase">Thêm phim</h2>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="container">

            <div class="mb-3">
                <label for="name" class="form-label"><b>Tên phim</b></label>
                <input type="text" class="form-control" placeholder=" Nhập vào tên phim" name="name" required>
            </div>

            <div class="mb-3">
                <label for="time" class="form-label"><b>Thời lượng phim</b></label>
                <input type="text" class="form-control" placeholder=" Nhập vào thười lượng phim" name="time" required>
            </div>

            <div class="mb-3">
                <label for="pic" class="form-label">Upload ảnh</label>
                <input class="form-control form-control-sm" id="pic" name="pic" type="file">
            </div>

            <div class="mb-3">
                <label for="date"><b>Ngày công chiếu của phim</b></label>
                <input type="date" id="date" name="date" class="form-control">
            </div>
            <div class="mb-3">
                <label for="theloai" class="form-label"><b>Thể loại phim</b></label>
                <input type="text" class="form-control" placeholder=" Nhập vào thể loại phim" name="theloai" required>
            </div>
            <div class="mb-3">
                <label for="directed" class="form-label"><b>Đạo diễn</b></label>
                <input type="text" class="form-control" placeholder=" Nhập vào đạo diễn phim" name="directed" required>
            </div>
            <div class="mb-3">
                <label for="starring" class="form-label"><b>Diễn viên</b></label>
                <input type="text" class="form-control" placeholder=" Nhập vào diễn viên phim" name="starring" required>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label"><b>Quốc gia</b></label>
                <input type="text" class="form-control" placeholder=" Nhập vào quốc gia phim" name="country" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label"><b>Nội dung phim</b></label>
                <input type="text" class="form-control" placeholder=" Nhập vào nội dung phim" name="content" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label"><b>Trailer phim</b></label>
                <input type="text" class="form-control" placeholder=" Dẫn link đến trailer film" name="trailer" required>
            </div>

            <div>
                <button type="submit">Thêm</button>
            </div>
        </div>
    </form>
</div>