<section class="section-long">
    <div class="container">
        <div class="grid row">
            <div class="col-sm-6 col-lg-4">
                <div class="gallery-entity">
                    <div class="entity-preview" data-role="hover-wrap">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="embed-responsive-item" src="http://via.placeholder.com/1920x1080" alt="" />
                        </div>
                        <div class="d-over bg-black-40 collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                            <div class="entity-view-popup">
                                <a class="content-link action-icon-bordered rounded-circle" href="http://via.placeholder.com/1920x1080" data-magnific-popup="image">
                                    <span class="icon-content"><i class="fas fa-search"></i></span>
                                </a>
                            </div>
                            <h4 class="entity-title">The image title</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="gallery-entity">
                    <div class="entity-preview" data-role="hover-wrap">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="embed-responsive-item" src="http://via.placeholder.com/1920x1080" alt="" />
                        </div>
                        <div class="bg-theme-lighted d-over collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                            <div class="entity-view-popup">
                                <a class="action-icon-theme action-icon-bordered rounded-circle" href="https://www.youtube.com/watch?v=d96cjJhvlMA" data-magnific-popup="iframe">
                                    <span class="icon-content"><i class="fas fa-play"></i></span>
                                </a>
                            </div>
                            <h4 class="entity-title">The video title</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="gallery-entity">
                    <div class="entity-preview" data-role="hover-wrap">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="embed-responsive-item" src="http://via.placeholder.com/1920x1080" alt="" />
                        </div>
                        <div class="d-over bg-black-40 collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                            <div class="entity-view-popup">
                                <a class="content-link action-icon-bordered rounded-circle" href="http://via.placeholder.com/1920x1080" data-magnific-popup="image">
                                    <span class="icon-content"><i class="fas fa-search"></i></span>
                                </a>
                            </div>
                            <h4 class="entity-title">The image title</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="gallery-entity">
                    <div class="entity-preview" data-role="hover-wrap">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="embed-responsive-item" src="http://via.placeholder.com/1920x1080" alt="" />
                        </div>
                        <div class="d-over bg-black-40 collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                            <div class="entity-view-popup">
                                <a class="content-link action-icon-bordered rounded-circle" href="http://via.placeholder.com/1920x1080" data-magnific-popup="image">
                                    <span class="icon-content"><i class="fas fa-search"></i></span>
                                </a>
                            </div>
                            <h4 class="entity-title">The image title</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="gallery-entity">
                    <div class="entity-preview" data-role="hover-wrap">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="embed-responsive-item" src="http://via.placeholder.com/1920x1080" alt="" />
                        </div>
                        <div class="d-over bg-black-40 collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                            <div class="entity-view-popup">
                                <a class="content-link action-icon-bordered rounded-circle" href="http://via.placeholder.com/1920x1080" data-magnific-popup="image">
                                    <span class="icon-content"><i class="fas fa-search"></i></span>
                                </a>
                            </div>
                            <h4 class="entity-title">The image title</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="gallery-entity">
                    <div class="entity-preview" data-role="hover-wrap">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="embed-responsive-item" src="http://via.placeholder.com/1920x1080" alt="" />
                        </div>
                        <div class="bg-theme-lighted d-over collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                            <div class="entity-view-popup">
                                <a class="action-icon-theme action-icon-bordered rounded-circle" href="https://www.youtube.com/watch?v=d96cjJhvlMA" data-magnific-popup="iframe">
                                    <span class="icon-content"><i class="fas fa-play"></i></span>
                                </a>
                            </div>
                            <h4 class="entity-title">The video title</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="gallery-entity">
                    <div class="entity-preview" data-role="hover-wrap">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="embed-responsive-item" src="http://via.placeholder.com/1920x1080" alt="" />
                        </div>
                        <div class="d-over bg-black-40 collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                            <div class="entity-view-popup">
                                <a class="content-link action-icon-bordered rounded-circle" href="http://via.placeholder.com/1920x1080" data-magnific-popup="image">
                                    <span class="icon-content"><i class="fas fa-search"></i></span>
                                </a>
                            </div>
                            <h4 class="entity-title">The image title</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="gallery-entity">
                    <div class="entity-preview" data-role="hover-wrap">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="embed-responsive-item" src="http://via.placeholder.com/1920x1080" alt="" />
                        </div>
                        <div class="bg-theme-lighted d-over collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                            <div class="entity-view-popup">
                                <a class="action-icon-theme action-icon-bordered rounded-circle" href="https://www.youtube.com/watch?v=d96cjJhvlMA" data-magnific-popup="iframe">
                                    <span class="icon-content"><i class="fas fa-play"></i></span>
                                </a>
                            </div>
                            <h4 class="entity-title">The video title</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="gallery-entity">
                    <div class="entity-preview" data-role="hover-wrap">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="embed-responsive-item" src="http://via.placeholder.com/1920x1080" alt="" />
                        </div>
                        <div class="d-over bg-black-40 collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                            <div class="entity-view-popup">
                                <a class="content-link action-icon-bordered rounded-circle" href="http://via.placeholder.com/1920x1080" data-magnific-popup="image">
                                    <span class="icon-content"><i class="fas fa-search"></i></span>
                                </a>
                            </div>
                            <h4 class="entity-title">The image title</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-bottom">
            <div class="paginator">
                <a class="paginator-item" href="#"><i class="fas fa-chevron-left"></i></a>
                <a class="paginator-item" href="#">1</a>
                <span class="active paginator-item">2</span>
                <a class="paginator-item" href="#">3</a>
                <span class="paginator-item">...</span>
                <a class="paginator-item" href="#">10</a>
                <a class="paginator-item" href="#"><i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>