<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Attend</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Test01</td>
            <td>test01@gmail.com</td>
            <td>true</td>
        </tr>
        <tr>
            <td>Test02</td>
            <td>test02@gmail.com</td>
            <td>false</td>
        </tr>
        <tr>
            <td>Test03</td>
            <td>test03@gmail.com</td>
            <td>true</td>
        </tr>
        <tr>
            <td>Test04</td>
            <td>test04@gmail.com</td>
            <td>true</td>
        </tr>
    </tbody>
</table>