<form style="border:1px solid #ccc" method="POST">
    <div class="container">
        <h1>Tìm kiếm</h1>
        <hr>

        <label for="action"><b>Tìm kiếm theo</b></label>
        <select id="action" name="action" class="form-select">
            <!-- <option value="Movie" selected><b>Phim</b></option> -->
            <option value="Cinema"><b>Rạp</b></option>
            <!-- <option value="Cinemas"><b>Cụm rạp</b></option> -->
        </select>
        <br>

        <div class="mb-3">
            <label for="find" class="form-label"><b>Nội dung cần tìm</b></label>
            <input type="text" class="form-control" placeholder="Nhập vào nội dung cần tìm" name="find" required>
        </div>

        <div class="clearfix">
            <button type="submit">Tìm kiếm</button>
        </div>
    </div>
</form>