<div class="container">
    <div class="section-head">
        <h2 class="section-title text-uppercase">Thêm cụm rạp</h2>
    </div>
    <form method="post">
        <div class="container">
            <div class="mb-3">
                <label for="name" class="form-label"><b>Tên</b></label>
                <input type="text" class="form-control" placeholder="Nhập tên cụm rạp" name="name" required>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label"><b>Địa chỉ</b></label>
                <input type="text" class="form-control" placeholder=" Nhập địa chỉ cụm rạp" name="address" required>
            </div>
            <div>
                <button type="submit">Thêm</button>
            </div>
        </div>
    </form>
</div>